src/test/resources/Test-case.xml
<?xml version="1.0" encoding="UTF-8"?><mule xmlns="http://www.mulesoft.org/schema/mule/core"      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"      xmlns:hz="http://www.mulesoft.org/schema/mule/hz"      xmlns:spring="http://www.springframework.org/schema/beans"      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"      xmlns:quartz="http://www.mulesoft.org/schema/mule/quartz"      xmlns:test="http://www.mulesoft.org/schema/mule/test"      xmlns:script="http://www.mulesoft.org/schema/mule/scripting"      xsi:schemaLocation="       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.3/mule.xsd       http://www.mulesoft.org/schema/mule/hz META-INF/mule-hz.xsd       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd       http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.3/mule-vm.xsd       http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd       http://www.mulesoft.org/schema/mule/quartz http://www.mulesoft.org/schema/mule/quartz/3.3/mule-quartz.xsd       http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd">    <quartz:endpoint jobName="ecommerceJob" startDelay="2500"  repeatInterval="120" repeatCount="-1" name="ecommerceEndpoint" />    <quartz:endpoint jobName="GetProductJob" startDelay="2500"  repeatInterval="120" repeatCount="-1" name="GetProductEndpoint" />    <quartz:endpoint jobName="PaymentJob" startDelay="2500"  repeatInterval="120" repeatCount="-1" name="CreatePaymentEndpoint" />    <quartz:endpoint jobName="SubscriptionJob" startDelay="2500"  repeatInterval="120" repeatCount="-1" name="CreateSubscriptionEndpoint" />    <quartz:endpoint jobName="testJob4" startDelay="2500"  repeatInterval="120" repeatCount="-1" name="testEndpoint4" />    <hz:get-response-from-map-transformer hzInstance-ref="hzInstance"   name="responseMap" mapName="responseMap"  timeout="120" frequency="20"/>    <hz:connector name="hzConnector" hzInstance-ref="hzInstance" />    <hz:connector name="hzConnector_Comergent" hzInstance-ref="hzInstance" />    <hz:connector name="hzConnector_GetProduct" hzInstance-ref="hzInstance" />    <hz:connector name="hzConnector_CreatePayment" hzInstance-ref="hzInstance" />    <hz:connector name="hzConnector_CreateSubscription" hzInstance-ref="hzInstance" />    <flow name="ecommerceFlow">        <hz:inbound-endpoint address="hz://queue/ecommerce_Q"  connector-ref="hzConnector_Comergent">            <custom-transaction action="ALWAYS_BEGIN" factory-class="com.mule.transport.hz.HzTransactionFactory"/>        </hz:inbound-endpoint>        <log-component/>        <choice>            <when expression='!(payload.getUniqueId().equals("ecommerce_failure_1"))' evaluator="groovy">                <hz:outbound-endpoint address="hz://queue/_getProduct_Q"  connector-ref="hzConnector_Comergent">                    <custom-transaction action="BEGIN_OR_JOIN" factory-class="com.mule.transport.hz.HzTransactionFactory"/>                </hz:outbound-endpoint>            </when>            <otherwise>                <test:component throwException="true"/>            </otherwise>        </choice>        <rollback-exception-strategy maxRedeliveryAttempts="5">            <on-redelivery-attempts-exceeded>                <hz:outbound-endpoint address="hz://queue/ecommerce_DLQ"  connector-ref="hzConnector_Comergent">                    <custom-transaction action="ALWAYS_JOIN" factory-class="com.mule.transport.hz.HzTransactionFactory"/>                </hz:outbound-endpoint>            </on-redelivery-attempts-exceeded>        </rollback-exception-strategy>    </flow>    <flow name="ProdcutFromSku">        <hz:inbound-endpoint address="hz://queue/_getProduct_Q"  connector-ref="hzConnector_GetProduct">            <custom-transaction action="ALWAYS_BEGIN" factory-class="com.mule.transport.hz.HzTransactionFactory"/>        </hz:inbound-endpoint>        <log-component/>        <choice>            <when expression='!(payload.getUniqueId().equals("failure_getProduct_1"))' evaluator="groovy">                <hz:outbound-endpoint address="hz://queue/Payment_Q"  connector-ref="hzConnector_GetProduct">                    <custom-transaction action="BEGIN_OR_JOIN" factory-class="com.mule.transport.hz.HzTransactionFactory"/>                </hz:outbound-endpoint>            </when>            <otherwise>                <test:component throwException="true"/>            </otherwise>        </choice>        <rollback-exception-strategy maxRedeliveryAttempts="5">            <on-redelivery-attempts-exceeded>                <hz:outbound-endpoint address="hz://queue/getProduct_DLQ"  connector-ref="hzConnector_GetProduct">                    <custom-transaction action="ALWAYS_JOIN" factory-class="com.mule.transport.hz.HzTransactionFactory"/>                </hz:outbound-endpoint>            </on-redelivery-attempts-exceeded>        </rollback-exception-strategy>    </flow>    <flow name="PaymentRecord">        <hz:inbound-endpoint address="hz://queue/Payment_Q"  connector-ref="hzConnector_CreatePayment">            <custom-transaction action="ALWAYS_BEGIN" factory-class="com.mule.transport.hz.HzTransactionFactory"/>        </hz:inbound-endpoint>        <log-component/>        <choice>            <when expression='!(payload.getUniqueId().equals("failure_createPayment_1"))' evaluator="groovy">                <hz:outbound-endpoint address="hz://queue/Subscription_Q"  connector-ref="hzConnector_CreatePayment">                    <custom-transaction action="BEGIN_OR_JOIN" factory-class="com.mule.transport.hz.HzTransactionFactory"/>                </hz:outbound-endpoint>            </when>            <otherwise>                <test:component throwException="true"/>            </otherwise>        </choice>        <rollback-exception-strategy maxRedeliveryAttempts="5">            <on-redelivery-attempts-exceeded>                <hz:outbound-endpoint address="hz://queue/Payment_DLQ"  connector-ref="hzConnector_CreatePayment">                    <custom-transaction action="ALWAYS_JOIN" factory-class="com.mule.transport.hz.HzTransactionFactory"/>                </hz:outbound-endpoint>            </on-redelivery-attempts-exceeded>        </rollback-exception-strategy>    </flow>    <flow name="Subscription">        <hz:inbound-endpoint address="hz://queue/Subscription_Q"  connector-ref="hzConnector_eCreateSubscription">            <custom-transaction action="ALWAYS_BEGIN" factory-class="com.mule.transport.hz.HzTransactionFactory"/>        </hz:inbound-endpoint>        <log-component/>        <choice>            <when expression='!(payload.getUniqueId().equals("failure_createSubscription_1"))' evaluator="groovy">                <hz:outbound-endpoint address="hz://map/responseMap" connector-ref="hzConnector_CreateSubscription">                </hz:outbound-endpoint>                <transformer ref="responseMap"></transformer>                <log-component/>            </when>            <otherwise>                <test:component throwException="true"/>            </otherwise>        </choice>        <rollback-exception-strategy maxRedeliveryAttempts="5">            <on-redelivery-attempts-exceeded>                <hz:outbound-endpoint address="hz://queue/Subscription_DLQ"  connector-ref="hzConnector_CreateSubscription">                    <custom-transaction action="ALWAYS_JOIN" factory-class="com.mule.transport.hz.HzTransactionFactory"/>                </hz:outbound-endpoint>            </on-redelivery-attempts-exceeded>        </rollback-exception-strategy>    </flow>    <flow name="quartz-ecommerceFlow">        <quartz:inbound-endpoint ref="ecommerceEndpoint">            <quartz:endpoint-polling-job >                <quartz:job-endpoint address="hz://queue/ecommerce_DLQ?connector=hzConnector_Comergent" />            </quartz:endpoint-polling-job>        </quartz:inbound-endpoint>        <choice>            <when expression="!(payload.DLQRedeliveryCount > 5)" evaluator="groovy">                <expression-component>payload.DLQRedeliveryCount = payload.DLQRedeliveryCount + 1</expression-component>                <hz:outbound-endpoint address="hz://queue/ecommerce_Q"  connector-ref="hzConnector_Comergent">                    <custom-transaction action="BEGIN_OR_JOIN" factory-class="com.mule.transport.hz.HzTransactionFactory"/>                </hz:outbound-endpoint>            </when>            <when expression="payload.DLQRedeliveryCount >= 5" evaluator="groovy">                <expression-component>payload.queueIdentifier = "ecommerce_Q"</expression-component>                <hz:outbound-endpoint address="hz://queue/DISCARD_Q"  connector-ref="hzConnector_Comergent">                    <custom-transaction action="BEGIN_OR_JOIN" factory-class="com.mule.transport.hz.HzTransactionFactory"/>                </hz:outbound-endpoint>            </when>        </choice>        <log-component/>    </flow>    <flow name="quartz-getProductFlow">        <quartz:inbound-endpoint ref="GetProductEndpoint">            <quartz:endpoint-polling-job >                <quartz:job-endpoint address="hz://queue/_getProduct_DLQ?connector=hzConnector_GetProduct" />            </quartz:endpoint-polling-job>        </quartz:inbound-endpoint>        <choice>            <when expression="!(payload.DLQRedeliveryCount > 5)" evaluator="groovy">                <expression-component>payload.DLQRedeliveryCount = payload.DLQRedeliveryCount + 1</expression-component>                <hz:outbound-endpoint address="hz://queue/_getProduct_Q"  connector-ref="hzConnector_GetProduct">                    <custom-transaction action="BEGIN_OR_JOIN" factory-class="com.mule.transport.hz.HzTransactionFactory"/>                </hz:outbound-endpoint>            </when>            <when expression="payload.DLQRedeliveryCount >= 5" evaluator="groovy">                <expression-component>payload.queueIdentifier = "_getProduct_Q"</expression-component>                <hz:outbound-endpoint address="hz://queue/DISCARD_Q"  connector-ref="hzConnector_GetProduct">                    <custom-transaction action="BEGIN_OR_JOIN" factory-class="com.mule.transport.hz.HzTransactionFactory"/>                </hz:outbound-endpoint>            </when>        </choice>        <log-component/>    </flow>    <flow name="quartz-PaymentFlow">        <quartz:inbound-endpoint ref="CreatePaymentEndpoint">            <quartz:endpoint-polling-job >                <quartz:job-endpoint address="hz://queue/Payment_DLQ?connector=hzConnector_CreatePayment" />            </quartz:endpoint-polling-job>        </quartz:inbound-endpoint>        <choice>            <when expression="!(payload.DLQRedeliveryCount > 5)" evaluator="groovy">                <expression-component>payload.DLQRedeliveryCount = payload.DLQRedeliveryCount + 1</expression-component>                <hz:outbound-endpoint address="hz://queue/Payment_Q"  connector-ref="hzConnector_CreatePayment">                    <custom-transaction action="BEGIN_OR_JOIN" factory-class="com.mule.transport.hz.HzTransactionFactory"/>                </hz:outbound-endpoint>            </when>            <when expression="payload.DLQRedeliveryCount >= 5" evaluator="groovy">                <expression-component>payload.queueIdentifier = "Payment_Q"</expression-component>                <hz:outbound-endpoint address="hz://queue/DISCARD_Q"  connector-ref="hzConnector_CreatePayment">                    <custom-transaction action="BEGIN_OR_JOIN" factory-class="com.mule.transport.hz.HzTransactionFactory"/>                </hz:outbound-endpoint>            </when>        </choice>        <log-component/>    </flow>    <flow name="quartz-SubscriptionFlow">        <quartz:inbound-endpoint ref="CreateSubscriptionEndpoint">            <quartz:endpoint-polling-job >                <quartz:job-endpoint address="hz://queue/Subscription_DLQ?connector=hzConnector_CreateSubscription" />            </quartz:endpoint-polling-job>        </quartz:inbound-endpoint>        <choice>            <when expression="!(payload.DLQRedeliveryCount > 5)" evaluator="groovy">                <expression-component>payload.DLQRedeliveryCount = payload.DLQRedeliveryCount + 1</expression-component>                <hz:outbound-endpoint address="hz://queue/Subscription_Q"  connector-ref="hzConnector_CreateSubscription">                    <custom-transaction action="BEGIN_OR_JOIN" factory-class="com.mule.transport.hz.HzTransactionFactory"/>                </hz:outbound-endpoint>            </when>            <when expression="payload.DLQRedeliveryCount >= 5" evaluator="groovy">                <expression-component>payload.queueIdentifier = "Subscription_Q"</expression-component>                <hz:outbound-endpoint address="hz://queue/DISCARD_Q"  connector-ref="hzConnector_CreateSubscription">                    <custom-transaction action="BEGIN_OR_JOIN" factory-class="com.mule.transport.hz.HzTransactionFactory"/>                </hz:outbound-endpoint>            </when>        </choice>        <log-component/>    </flow></mule>