src/test/resources/test-quartz-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:hz="http://www.mulesoft.org/schema/mule/hz"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:quartz="http://www.mulesoft.org/schema/mule/quartz"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xmlns:script="http://www.mulesoft.org/schema/mule/scripting"
      xsi:schemaLocation="
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.3/mule.xsd
       http://www.mulesoft.org/schema/mule/hz META-INF/mule-hz.xsd
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.3/mule-vm.xsd
       http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
       http://www.mulesoft.org/schema/mule/quartz http://www.mulesoft.org/schema/mule/quartz/3.3/mule-quartz.xsd
       http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd">

    <quartz:endpoint jobName="testJob1" startDelay="2500"  repeatInterval="120" repeatCount="-1" name="testEndpoint" />
    <quartz:endpoint jobName="testJob2" startDelay="2500"  repeatInterval="120" repeatCount="-1" name="testEndpoint2" />

    <spring:beans>
        <spring:import resource="spring-hazelcast.xml" />
    </spring:beans>

    <hz:get-response-from-map-transformer hzInstance-ref="hzInstance"  name="responseMap" mapName="submitOrder_C1"  timeout="120" frequency="20"/>


    <hz:connector name="hzConnector" hzInstance-ref="hzInstance" />


    <script:filter name="scriptFilter">
        <script:script engine="groovy">
            <script:text>
                return payload.payload.DLQRedeliveryCount >= 5
            </script:text>
        </script:script>
    </script:filter>


    <flow name="quartz-Flow">
        <quartz:inbound-endpoint ref="testEndpoint">
            <quartz:endpoint-polling-job >
                <quartz:job-endpoint address="hz://queue/submitOrder_Q1" />
            </quartz:endpoint-polling-job>
        </quartz:inbound-endpoint>

        <log-component/>

    </flow>


    <flow name="quartz-Flow-DeliveryCountUpdate">
        <quartz:inbound-endpoint ref="testEndpoint2">
            <quartz:endpoint-polling-job >
                <quartz:job-endpoint address="hz://queue/submitOrder_DLQ2" />
            </quartz:endpoint-polling-job>
        </quartz:inbound-endpoint>
        <choice>
            <when expression="!(payload.DLQRedeliveryCount > 5)" evaluator="groovy">
                <expression-component>payload.DLQRedeliveryCount = payload.DLQRedeliveryCount + 1</expression-component>
                <hz:outbound-endpoint address="hz://queue/submitOrder_RD_Q"  connector-ref="hzConnector">
                    <custom-transaction action="BEGIN_OR_JOIN" factory-class="com.mule.transport.hz.HzTransactionFactory"/>
                </hz:outbound-endpoint>
            </when>

            <when expression="payload.DLQRedeliveryCount >= 5" evaluator="groovy">
                <hz:outbound-endpoint address="hz://queue/submitOrder_np_Q2"  connector-ref="hzConnector">
                    <custom-transaction action="BEGIN_OR_JOIN" factory-class="com.mule.transport.hz.HzTransactionFactory"/>
                </hz:outbound-endpoint>
            </when>

        </choice>


        <log-component/>

    </flow>



    <flow name="OnExceptionRedeliveryFlowWithQuartz">
        <hz:inbound-endpoint address="hz://queue/submitOrder_RD_Q"  connector-ref="hzConnector">
            <custom-transaction action="ALWAYS_BEGIN" factory-class="com.mule.transport.hz.HzTransactionFactory"/>
        </hz:inbound-endpoint>
        <log-component/>

        <choice>
            <when>
                <expression-filter evaluator="payload-type" expression="com.mule.transport.hz.IMessage"/>
                <test:component throwException="true"/>
                <hz:outbound-endpoint address="hz://queue/submitOrder_RD_Q2"  connector-ref="hzConnector">
                    <custom-transaction action="BEGIN_OR_JOIN" factory-class="com.mule.transport.hz.HzTransactionFactory"/>
                </hz:outbound-endpoint>
            </when>
            <otherwise>
                <!-- The name is invalid so that routing fails and transaction is rolled back -->
                <hz:outbound-endpoint address="hz://invalidURIToHaveTheTXRolledBack"  connector-ref="hzConnector">
                    <custom-transaction action="BEGIN_OR_JOIN" factory-class="com.mule.transport.hz.HzTransactionFactory"/>
                </hz:outbound-endpoint>
            </otherwise>
        </choice>

        <rollback-exception-strategy maxRedeliveryAttempts="5">
            <on-redelivery-attempts-exceeded>
                <hz:outbound-endpoint address="hz://queue/submitOrder_DLQ2"  connector-ref="hzConnector">
                    <custom-transaction action="ALWAYS_JOIN" factory-class="com.mule.transport.hz.HzTransactionFactory"/>
                </hz:outbound-endpoint>
            </on-redelivery-attempts-exceeded>
        </rollback-exception-strategy>

    </flow>

</mule>
